@font-face {
    font-family: "Azonix";
    src: url(../font/Azonix.otf) format("opentype");
}

.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    min-width: 100%;
    min-height: 100vh;
  }

.root{
    background-color: #d0cfcf;
    flex-wrap: wrap;
    flex-grow: 1; 
}

body {
    font-family: Azonix, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    width: 100%;
}

header {
    background-color: #292b29;
    color: white;
    padding: 1em;
    text-align: center;
    width: auto;
}
.App-header__v{
    color:#45a049;
    font-size: 130%;
}

main {
    padding: 1em;
    max-width: 800px;
    margin: auto;
}

section {
    margin-bottom: 2em;

}

h2 {
    color: #333;
}

button {
    margin: 1em 0;
    padding: 0.5em 1em;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    display: inline-block;
    font-family: Azonix, sans-serif;
    font-size: 16px;
    border: none;
    box-shadow: -2px 2px 5px #2a792d;
    transition: all 0.2s ease;
}

button:hover {
    background-color: #45a049;
}

canvas {
    max-width: 100%;
}

.file-upload {
    display: flex;
    align-items: center;
  }

  .file-upload-label:hover{
    background-color: #006FE5;
    cursor: pointer;
  }
  
  .file-upload-label {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    display: inline-block;
    font-size: 16px;
    border: none;
    box-shadow: -2px 2px 5px #0056b3;
    transition: all 0.2s ease;
  }
  
  .file-upload-input {
    display: none;
  }

  .file-upload-name {
    display: flex;
    align-items: center;
    font-size: 8px;
  }
  

  .footer {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    margin: auto;
  }
  
  .footer__logo {
    width: 9%;
    height: auto;
    margin-right: 2px;
  }
  
  .footer__text {
    margin-top: 4%;
    font-size: 12px; 
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
  }
  